# EDA - MINI PROJECT

### 1. Import the necessary libraries and read the data.

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
from sklearn.model_selection import train_test_split
import scipy.stats as stats
import statsmodels.api as sm

In [43]:
#reading the data

df=pd.read_csv(r"C:\Users\PrabhukumarS\Desktop\G_L\mini project\EDA & STATS\project 3\project 3\fifa.csv")

In [44]:
df.shape  #there are 25,490 records and 60 columns/variables .

(25490, 60)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25490 entries, 0 to 25489
Data columns (total 60 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        25490 non-null  int64
 1   Name                      25490 non-null  object
 2   Age                       25490 non-null  int64
 3   Photo                     25490 non-null  object
 4   Nationality               25490 non-null  object
 5   Flag                      25490 non-null  object
 6   Overall                   25490 non-null  int64
 7   Potential                 25490 non-null  int64
 8   Club                      25159 non-null  object
 9   Club Logo                 25490 non-null  object
 10  Value                     25490 non-null  object
 11  Wage                      25490 non-null  object
 12  Preferred Foot            25425 non-null  object
 13  International Reputation  25425 non-null  float64
 14  Weak Foot                 25425 non-null  float64
 15  Skill Moves               25425 non-null  float64
 16  Work Rate                 25425 non-null  object
 17  Body Type                 25425 non-null  object
 18  Position                  25401 non-null  object
 19  Jersey Number             25401 non-null  float64
 20  Joined                    23319 non-null  object
 21  Loaned From               1775 non-null   object
 22  Contract Valid Until      25094 non-null  object
 23  Height                    25425 non-null  object
 24  Weight                    25425 non-null  object
 25  Crossing                  25425 non-null  float64
 26  Finishing                 25425 non-null  float64
 27  HeadingAccuracy           25425 non-null  float64
 28  ShortPassing              25425 non-null  float64
 29  Volleys                   25425 non-null  float64
 30  Dribbling                 25425 non-null  float64
 31  Curve                     25425 non-null  float64
 32  FKAccuracy                25425 non-null  float64
 33  LongPassing               25425 non-null  float64
 34  BallControl               25425 non-null  float64
 35  Acceleration              25425 non-null  float64
 36  SprintSpeed               25425 non-null  float64
 37  Agility                   25425 non-null  float64
 38  Reactions                 25425 non-null  float64
 39  Balance                   25425 non-null  float64
 40  ShotPower                 25425 non-null  float64
 41  Jumping                   25425 non-null  float64
 42  Stamina                   25425 non-null  float64
 43  Strength                  25425 non-null  float64
 44  LongShots                 25425 non-null  float64
 45  Aggression                25425 non-null  float64
 46  Interceptions             25425 non-null  float64
 47  Positioning               25425 non-null  float64
 48  Vision                    25425 non-null  float64
 49  Penalties                 25425 non-null  float64
 50  Composure                 25425 non-null  float64
 51  Marking                   25425 non-null  float64
 52  StandingTackle            25425 non-null  float64
 53  SlidingTackle             25425 non-null  float64
 54  GKDiving                  25425 non-null  float64
 55  GKHandling                25425 non-null  float64
 56  GKKicking                 25425 non-null  float64
 57  GKPositioning             25425 non-null  float64
 58  GKReflexes                25425 non-null  float64
 59  Release Clause            23308 non-null  object
dtypes: float64(38), int64(4), object(18)
memory usage: 11.7+ MB

In [46]:
df.describe()

,ID,Age,Overall,Potential,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,25490.000000,25490.000000,25490.000000,25490.000000,25425.000000,25425.000000,25425.000000,25401.000000,25425.000000,25425.000000,...,25425.000000,25425.000000,25425.000000,25425.000000,25425.000000,25425.000000,25425.000000,25425.000000,25425.000000,25425.000000
mean,214357.925343,25.114162,66.261593,71.338486,1.109302,2.949656,2.368181,19.576788,49.881180,45.662694,...,48.663559,58.749853,47.438033,47.816087,45.730305,16.568220,16.349066,16.230718,16.342852,16.665998
std,29878.130401,4.649341,6.843978,6.112496,0.385040,0.661157,0.758538,15.988779,18.356056,19.447835,...,15.683216,11.387027,19.768914,21.578577,21.181263,17.655976,16.848998,16.516029,16.982910,17.940949
min,16.000000,16.000000,46.000000,48.000000,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,200353.750000,21.000000,62.000000,67.000000,1.000000,3.000000,2.000000,9.000000,38.000000,30.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,221816.000000,25.000000,66.000000,71.000000,1.000000,3.000000,2.000000,17.000000,54.000000,49.000000,...,50.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,236545.000000,28.000000,71.000000,75.000000,1.000000,3.000000,3.000000,26.000000,64.000000,62.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,246620.000000,45.000000,94.000000,95.000000,5.000000,5.000000,5.000000,99.000000,93.000000,94.000000,...,90.000000,95.000000,94.000000,93.000000,91.000000,90.000000,92.000000,88.000000,90.000000,94.000000

In [47]:
df['ID'] = df['ID'].astype('object')

In [48]:
df['International Reputation'] = df['International Reputation'].astype('object')   
#because its a encoded data so we treated it as a object

In [49]:
df.describe(include = 'object')

,ID,Name,Photo,Nationality,Flag,Club,Club Logo,Value,Wage,Preferred Foot,International Reputation,Work Rate,Body Type,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
count,25490,25490,25490,25490,25490,25159,25490,25490,25490,25425,25425.0,25425,25425,25401,23319,1775,25094,25425,25425,23308
unique,13657,13053,13657,160,160,651,678,204,140,2,5.0,9,9,27,1559,308,34,21,56,1163
top,237679,R. Williams,https://cdn.sofifa.org/players/4/19/237679.png,England,https://cdn.sofifa.org/flags/14.png,Empoli,https://cdn.sofifa.org/teams/2/light/1746.png,€1.1M,€1K,Right,1.0,Medium/ Medium,Normal,ST,"Jul 1, 2018",Atalanta,2019,6'0,165lbs,€1.1M
freq,8,13,8,2332,2332,64,64,621,6805,19454,23205.0,13687,14870,2882,2169,34,6825,3940,2064,785

### 2. Drop any columns that you deem unnecessary for analysis.

In [50]:
df.drop(columns = ['Photo','Flag','Club Logo'],inplace = True)

In [51]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,240331,P. Camará,21,Guinea Bissau,58,69,Crawley Town,€220K,€1K,Right,...,46.0,14.0,18.0,15.0,7.0,9.0,9.0,6.0,15.0,€429K
1,183465,J. Rodwell,27,England,68,68,Blackburn Rovers,€925K,€16K,Right,...,69.0,66.0,69.0,64.0,9.0,10.0,15.0,11.0,12.0,€1.8M
2,205186,P. Gazzaniga,26,Argentina,74,78,Tottenham Hotspur,€5M,€46K,Right,...,55.0,23.0,20.0,11.0,76.0,73.0,84.0,72.0,76.0,€9.6M
3,233531,Y. Soteldo,21,Venezuela,71,81,Universidad de Chile,€3.8M,€6K,Right,...,65.0,25.0,23.0,20.0,13.0,7.0,9.0,13.0,6.0,€6.1M
4,243718,R. Koot,18,Netherlands,56,68,Fortuna Sittard,€120K,€1K,Right,...,39.0,11.0,14.0,12.0,59.0,55.0,59.0,55.0,56.0,€198K

In [52]:
#The columns Photo ,Flag,Club Logo are unnecessary data so we dropped it.

### 3. The following columns need to be converted for further analysis:

In [53]:
df['Value'] = df['Value'].apply(lambda x: x.replace('M','').replace('K','').replace('€','')).astype(float)

In [54]:
df['Value'].dtypes

dtype('float64')

In [55]:
df[['Value']].head()

   Value
0  220.0
1  925.0
2    5.0
3    3.8
4  120.0

In [56]:
df['Wage'] = df['Wage'].apply(lambda x: x.replace('M','').replace('K','').replace('€','')).astype(float)

In [57]:
df[['Wage']].head()

   Wage
0   1.0
1  16.0
2  46.0
3   6.0
4   1.0

In [58]:
df['Joined'].value_counts()

Jul 1, 2018    2169
Jul 1, 2017    1586
Jan 1, 2018     903
Jul 1, 2016     844
Jul 1, 2015     516
               ...
Dec 7, 2015       1
Mar 6, 2018       1
Jun 3, 2013       1
Mar 9, 2017       1
May 4, 2010       1
Name: Joined, Length: 1559, dtype: int64

In [59]:
#conterting the column into date and time
df['Joined']= pd.to_datetime(df['Joined'])
df['Joined'] = (df['Joined'].dt.year)

#we converted it into only year ..

In [60]:
df['Joined'] = df['Joined'].fillna(0)   
#there are some null values if we need change the dtype into int we should replace the null values 
#usinf fillna we replaced it into (0)

In [61]:
df['Joined'] = df['Joined'].astype(int)
df[['Joined']].head()

   Joined
0    2017
1    2018
2    2017
3    2018
4    2016

In [62]:
df['Joined'].dtypes

dtype('int32')

In [63]:
df['Contract Valid Until'] = pd.DatetimeIndex(df['Contract Valid Until']).year
df['Contract Valid Until']

0        2019.0
1        2019.0
2        2022.0
3        2018.0
4        2020.0
          ...
25485    2022.0
25486    2022.0
25487    2021.0
25488    2021.0
25489    2020.0
Name: Contract Valid Until, Length: 25490, dtype: float64

In [64]:
df['Contract Valid Until'].dtypes

dtype('float64')

In [65]:
df['Height'].unique()

array(["6'1", "6'2", "6'5", "5'3", "5'8", "5'11", "5'10", "5'9", "6'3",
       "5'7", "6'0", "6'4", "5'4", "5'5", "5'6", "6'6", nan, "6'8", "5'2",
       "6'7", "5'1", "6'9"], dtype=object)

In [66]:
#we found that there are no zero's only  null values in the variable we have to change it 
#using fillna we are gonna change the null values

In [67]:
df['Height'] = df['Height'].fillna("0")

In [68]:
df['Height'] = df['Height'].apply(lambda x: x.replace("'",'.')).astype(float)

In [69]:
df[['Height']].head()

   Height
0     6.1
1     6.2
2     6.5
3     5.3
4     6.1

In [70]:
df['Height'].dtypes

dtype('float64')

In [71]:
df['Weight'].unique()

array(['161lbs', '172lbs', '198lbs', '121lbs', '176lbs', '207lbs',
       '152lbs', '165lbs', '170lbs', '157lbs', '179lbs', '174lbs',
       '190lbs', '154lbs', '187lbs', '146lbs', '141lbs', '148lbs',
       '139lbs', '168lbs', '163lbs', '183lbs', '159lbs', '150lbs',
       '209lbs', '143lbs', '137lbs', '192lbs', '134lbs', '181lbs',
       '194lbs', '123lbs', '185lbs', '132lbs', '201lbs', '196lbs', nan,
       '212lbs', '205lbs', '130lbs', '128lbs', '203lbs', '119lbs',
       '214lbs', '117lbs', '220lbs', '216lbs', '227lbs', '126lbs',
       '223lbs', '218lbs', '225lbs', '110lbs', '243lbs', '236lbs',
       '234lbs', '229lbs'], dtype=object)

In [72]:
#we found that there are no zero's only  null values in the variable we have to change it 
#using fillna we are gonna change the null values

In [73]:
df['Weight'] = df['Weight'].fillna("0")

In [74]:
df['Weight'] = df['Weight'].apply(lambda x: x.replace('lbs','')).astype(float)

In [75]:
df['Weight'].dtypes

dtype('float64')

In [76]:
df[['Weight']].head()

   Weight
0   161.0
1   172.0
2   198.0
3   121.0
4   176.0

In [77]:
df['Release Clause'] = df['Release Clause'].fillna('0')

In [78]:
df['Release Clause'] = df['Release Clause'].apply(lambda x: x.replace('M','').replace('K','').replace('€','')).astype(float)

In [79]:
df['Release Clause'].dtypes

dtype('float64')

In [80]:
df[['Release Clause']].head()

   Release Clause
0           429.0
1             1.8
2             9.6
3             6.1
4           198.0

### 4. Check the duplicate records and do appropriate treatments.

In [81]:
df[df.duplicated()]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
152,211732,T. Thiele,26,Germany,67,68,1. FC Kaiserslautern,900.0,3.0,Right,...,68.0,18.0,16.0,17.0,15.0,8.0,15.0,13.0,11.0,1.4
290,227708,Lucas Tagliapietra,27,Brazil,69,71,Al Batin,1.0,7.0,Left,...,65.0,58.0,71.0,66.0,10.0,11.0,9.0,12.0,6.0,1.8
321,240584,B. Verbong,18,Netherlands,58,70,VVV-Venlo,160.0,1.0,Right,...,42.0,13.0,14.0,12.0,61.0,59.0,60.0,52.0,58.0,264.0
373,231823,J. Hoogma,20,Netherlands,69,80,TSG 1899 Hoffenheim,1.6,10.0,Left,...,63.0,67.0,72.0,69.0,11.0,13.0,14.0,7.0,9.0,3.0
378,238160,M. Demiral,20,Turkey,73,83,Alanyaspor,5.5,7.0,Left,...,61.0,74.0,77.0,73.0,15.0,7.0,13.0,6.0,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25484,201401,Campabadal,25,Spain,68,73,CD Lugo,975.0,4.0,Right,...,58.0,65.0,70.0,73.0,15.0,7.0,12.0,10.0,14.0,1.6
25485,207559,S. Tibbling,23,Sweden,73,79,Brøndby IF,5.5,19.0,Right,...,73.0,62.0,63.0,51.0,13.0,15.0,12.0,9.0,14.0,8.3
25486,205157,Ruiz de Galarreta,24,Spain,70,75,UD Las Palmas,2.3,6.0,Right,...,62.0,66.0,69.0,65.0,12.0,6.0,13.0,7.0,12.0,3.9
25487,188802,M. Schmelzer,30,Germany,77,77,Borussia Dortmund,6.5,43.0,Left,...,72.0,75.0,78.0,80.0,14.0,10.0,15.0,9.0,8.0,11.1
25488,244464,E. Castillo,23,Ecuador,66,75,Club Tijuana,1.0,6.0,Right,...,64.0,21.0,41.0,24.0,9.0,13.0,13.0,12.0,14.0,1.9

In [82]:
#we found that there exactly 11833 duplicated records....
# using drop_dupicated() we are gonna drop those duplictes

In [83]:
df.drop_duplicates(inplace = True)

In [84]:
df.shape     #Now after the duplicated recordes are removed there are 13657 records.

(13657, 57)

### 5. Check the variation of the features.

In [85]:
num_col = df.select_dtypes(np.number).columns
num_col

Index(['Age', 'Overall', 'Potential', 'Value', 'Wage', 'Weak Foot',
       'Skill Moves', 'Jersey Number', 'Joined', 'Contract Valid Until',
       'Height', 'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility',
       'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength',
       'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle',
       'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [86]:

for i in num_col:
    def variance_std_df(df, i):
        column = df[i]
        mean = column.mean()
        variance = column.var()
        std = column.std()
        return mean,variance, std

                
    mean,variance, std = variance_std_df(df, i)
    print(f'The mean of {i} is {mean}')
    print(f'The variance of {i} is {variance}')
    print(f'The standard deviation of {i} is {std}.')
    print()
    
    print('-'*75)

The mean of Age is 25.082595006223915
The variance of Age is 21.57548570833157
The standard deviation of Age is 4.644941948865623.

---------------------------------------------------------------------------
The mean of Overall is 66.20502306509482
The variance of Overall is 47.63575976989635
The standard deviation of Overall is 6.901866397569309.

---------------------------------------------------------------------------
The mean of Potential is 71.3070220399795
The variance of Potential is 37.387496820911345
The standard deviation of Potential is 6.114531610917663.

---------------------------------------------------------------------------
The mean of Value is 265.3440653144915
The variance of Value is 83590.70298780984
The standard deviation of Value is 289.1205682545084.

---------------------------------------------------------------------------
The mean of Wage is 9.646188767664933
The variance of Wage is 478.7468061016517
The standard deviation of Wage is 21.880283501400335.

---------------------------------------------------------------------------
The mean of Weak Foot is 2.948755597973717
The variance of Weak Foot is 0.4364340240371435
The standard deviation of Weak Foot is 0.6606315342436686.

---------------------------------------------------------------------------
The mean of Skill Moves is 2.362234784523897
The variance of Skill Moves is 0.5762653137415611
The standard deviation of Skill Moves is 0.7591214090918271.

---------------------------------------------------------------------------
The mean of Jersey Number is 19.60227773695812
The variance of Jersey Number is 255.79382242560717
The standard deviation of Jersey Number is 15.993555652999966.

---------------------------------------------------------------------------
The mean of Joined is 1844.594273998682
The variance of Joined is 317048.2660275481
The standard deviation of Joined is 563.0703917163005.

---------------------------------------------------------------------------
The mean of Contract Valid Until is 2020.1449091991665
The variance of Contract Valid Until is 1.6597589720300383
The standard deviation of Contract Valid Until is 1.288316332284132.

---------------------------------------------------------------------------
The mean of Height is 5.782228161382431
The variance of Height is 0.2892452033574212
The standard deviation of Height is 0.5378152130215555.

---------------------------------------------------------------------------
The mean of Weight is 165.57311268946327
The variance of Weight is 315.0389020928293
The standard deviation of Weight is 17.749335257773158.

---------------------------------------------------------------------------
The mean of Crossing is 49.74884369723222
The variance of Crossing is 338.1732594925244
The standard deviation of Crossing is 18.38948774415765.

---------------------------------------------------------------------------
The mean of Finishing is 45.5412965274209
The variance of Finishing is 380.4511028416545
The standard deviation of Finishing is 19.505155801522186.

---------------------------------------------------------------------------
The mean of HeadingAccuracy is 52.18684384406431
The variance of HeadingAccuracy is 301.7968782978542
The standard deviation of HeadingAccuracy is 17.372302043708952.

---------------------------------------------------------------------------
The mean of ShortPassing is 58.71184200866309
The variance of ShortPassing is 216.2198223116054
The standard deviation of ShortPassing is 14.704415061865106.

---------------------------------------------------------------------------
The mean of Volleys is 42.945745539975036
The variance of Volleys is 313.7699637264349
The standard deviation of Volleys is 17.713553108465703.

---------------------------------------------------------------------------
The mean of Dribbling is 55.33734674399824
The variance of Dribbling is 359.2662916087637
The standard deviation of Dribbling is 18.954321185649558.

---------------------------------------------------------------------------
The mean of Curve is 47.20115997357022
The variance of Curve is 339.7797960111842
The standard deviation of Curve is 18.433116828447222.

---------------------------------------------------------------------------
The mean of FKAccuracy is 42.887086117025184
The variance of FKAccuracy is 307.9042832928013
The standard deviation of FKAccuracy is 17.547201580103916.

---------------------------------------------------------------------------
The mean of LongPassing is 52.738712282504956
The variance of LongPassing is 234.94706879687425
The standard deviation of LongPassing is 15.327983194043313.

---------------------------------------------------------------------------
The mean of BallControl is 58.351516041406654
The variance of BallControl is 280.8091733622433
The standard deviation of BallControl is 16.757361766168422.

---------------------------------------------------------------------------
The mean of Acceleration is 64.54592173849204
The variance of Acceleration is 222.55848208166879
The standard deviation of Acceleration is 14.918394085211343.

---------------------------------------------------------------------------
The mean of SprintSpeed is 64.64576756478967
The variance of SprintSpeed is 213.98882734949697
The standard deviation of SprintSpeed is 14.62835696001082.

---------------------------------------------------------------------------
The mean of Agility is 63.447691065266866
The variance of Agility is 216.98971952158664
The standard deviation of Agility is 14.730570916348986.

---------------------------------------------------------------------------
The mean of Reactions is 61.791425005506206
The variance of Reactions is 81.62073703675809
The standard deviation of Reactions is 9.03441957387181.

---------------------------------------------------------------------------
The mean of Balance is 63.9850965421041
The variance of Balance is 199.75726685742137
The standard deviation of Balance is 14.133551105699564.

---------------------------------------------------------------------------
The mean of ShotPower is 55.438220394978345
The variance of ShotPower is 296.23107653909227
The standard deviation of ShotPower is 17.211364749464007.

---------------------------------------------------------------------------
The mean of Jumping is 65.00176198516996
The variance of Jumping is 139.4722435912133
The standard deviation of Jumping is 11.809836730082822.

---------------------------------------------------------------------------
The mean of Stamina is 63.15270538139637
The variance of Stamina is 253.7995868433491
The standard deviation of Stamina is 15.931088689833759.

---------------------------------------------------------------------------
The mean of Strength is 65.27560384700095
The variance of Strength is 157.24738496023284
The standard deviation of Strength is 12.539831935087202.

---------------------------------------------------------------------------
The mean of LongShots is 47.08332721532927
The variance of LongShots is 371.8489297805151
The standard deviation of LongShots is 19.28338481129584.

---------------------------------------------------------------------------
The mean of Aggression is 55.79788561779605
The variance of Aggression is 303.1435080107067
The standard deviation of Aggression is 17.411016857458574.

---------------------------------------------------------------------------
The mean of Interceptions is 46.66448865722047
The variance of Interceptions is 426.1546779121553
The standard deviation of Interceptions is 20.64351418514191.

---------------------------------------------------------------------------
The mean of Positioning is 49.964907128698336
The variance of Positioning is 381.00816634416555
The standard deviation of Positioning is 19.51943048206493.

---------------------------------------------------------------------------
The mean of Vision is 53.397547903971805
The variance of Vision is 200.77402922907353
The standard deviation of Vision is 14.16947526301075.

---------------------------------------------------------------------------
The mean of Penalties is 48.57308567652889
The variance of Penalties is 246.93733430316442
The standard deviation of Penalties is 15.71423985763118.

---------------------------------------------------------------------------
The mean of Composure is 58.61596064899787
The variance of Composure is 131.85081425513243
The standard deviation of Composure is 11.482630981405457.

---------------------------------------------------------------------------
The mean of Marking is 47.268041993979885
The variance of Marking is 393.43380166519285
The standard deviation of Marking is 19.835165783657892.

---------------------------------------------------------------------------
The mean of StandingTackle is 47.65413699434696
The variance of StandingTackle is 468.80922462411183
The standard deviation of StandingTackle is 21.652002785518754.

---------------------------------------------------------------------------
The mean of SlidingTackle is 45.582850011012404
The variance of SlidingTackle is 452.00247824981943
The standard deviation of SlidingTackle is 21.260349908922464.

---------------------------------------------------------------------------
The mean of GKDiving is 16.651126936348287
The variance of GKDiving is 315.33936528645467
The standard deviation of GKDiving is 17.757797309532922.

---------------------------------------------------------------------------
The mean of GKHandling is 16.423390353131193
The variance of GKHandling is 287.3801253915826
The standard deviation of GKHandling is 16.952289679909985.

---------------------------------------------------------------------------
The mean of GKKicking is 16.28588209382571
The variance of GKKicking is 274.0454313602449
The standard deviation of GKKicking is 16.55431760478954.

---------------------------------------------------------------------------
The mean of GKPositioning is 16.423757433374934
The variance of GKPositioning is 291.35374978667744
The standard deviation of GKPositioning is 17.069087549915416.

---------------------------------------------------------------------------
The mean of GKReflexes is 16.757506790984507
The variance of GKReflexes is 324.72584764541773
The standard deviation of GKReflexes is 18.020151154899278.

---------------------------------------------------------------------------
The mean of Release Clause is 210.00900637035966
The variance of Release Clause is 86196.82086644859
The standard deviation of Release Clause is 293.5929509822206.

---------------------------------------------------------------------------

In [87]:
for i in num_col:
    def variance_std_df(df, i):
        column = df[i]
        mean = column.mean()
        std = column.std()
        return mean,std
    
    mean,std = variance_std_df(df, i)
    if std > mean :
        print(f'The column {i} as more variations')

The column Value as more variations
The column Wage as more variations
The column GKDiving as more variations
The column GKHandling as more variations
The column GKKicking as more variations
The column GKPositioning as more variations
The column GKReflexes as more variations
The column Release Clause as more variations

In [88]:
#here we can see that the above columns are having more variations ...

***the variances of the variables are higher than the standard deviation***


* Variance is calculated by taking the average of the squared differences between each data point and the mean.
* Variance helps to find the distribution of data in a population from a mean, 
    and standard deviation also helps to know the data distribution in a population. 
    Still, standard deviation gives more clarity about the deviation of data from a mean.

**which one tells the exact variation of the features**

* The standard deviation tells the exact variation of the data.
* It is a more commonly used measure of variation because it is in the same unit as the original data,
* whereas the variance is in squared units. It's a bit more intuitive to speak about the "distance" from the mean in the original unit rather than squared unit.

### 6.Check for missing values and do imputations where necessary.Note: Do the appropriate imputation based on the distribution.

In [89]:
#we have to notice that in above code we changed the nan values into zeros to make some changes 
#now we changed those zeros into nan values

# this are the columns we changed zeroes [Height,joined,weight,Release Clause]

In [90]:
df['Height'] = df['Height'].replace(0,np.nan)

In [91]:
df['Height'].unique()

array([6.1 , 6.2 , 6.5 , 5.3 , 5.8 , 5.11, 5.1 , 5.9 , 6.3 , 5.7 , 6.  ,
       6.4 , 5.4 , 5.5 , 5.6 , 6.6 ,  nan, 6.8 , 5.2 , 6.7 , 6.9 ])

In [92]:
df['Weight'] = df['Weight'].replace(0,np.nan)

In [93]:
df['Release Clause'] = df['Release Clause'].replace(0,np.nan)

In [94]:
df['Joined'] = df['Joined'].replace(0,np.nan)

In [95]:
df.isnull().sum()

ID                              0
Name                            0
Age                             0
Nationality                     0
Overall                         0
Potential                       0
Club                          185
Value                           0
Wage                            0
Preferred Foot                 36
International Reputation       36
Weak Foot                      36
Skill Moves                    36
Work Rate                      36
Body Type                      36
Position                       47
Jersey Number                  47
Joined                       1164
Loaned From                 12714
Contract Valid Until          221
Height                         36
Weight                         36
Crossing                       36
Finishing                      36
HeadingAccuracy                36
ShortPassing                   36
Volleys                        36
Dribbling                      36
Curve                          36
FKAccuracy                     36
LongPassing                    36
BallControl                    36
Acceleration                   36
SprintSpeed                    36
Agility                        36
Reactions                      36
Balance                        36
ShotPower                      36
Jumping                        36
Stamina                        36
Strength                       36
LongShots                      36
Aggression                     36
Interceptions                  36
Positioning                    36
Vision                         36
Penalties                      36
Composure                      36
Marking                        36
StandingTackle                 36
SlidingTackle                  36
GKDiving                       36
GKHandling                     36
GKKicking                      36
GKPositioning                  36
GKReflexes                     36
Release Clause               1171
dtype: int64

In [ ]:
#here we can see that in column loaned from has more than 90% of data is null so we drop that column

In [ ]:
fifa.drop(columns = ['Loaned From'],inplace = True)

In [39]:
imp_col = ['Preferred Foot','International Reputation','Joined','Height','Weight','Release Clause',
           'Contract Valid Until','Penalties','Position']

In [ ]:
#those  are the important columns to make the appropriate imputation.

In [40]:
for i in imp_col:
    if df[i].dtype in [int,float]:
        print('The skewness of',i,'is ',df[i].skew())

NameError: name 'df' is not defined

In [ ]:

for i in imp_col:
    if df[i].dtypes==object:
        df[i].fillna(df[i].mode()[0],inplace = True)
    else :
        df[i].fillna(df[i].median(),inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
#we imputed null values for the

In [ ]:
# we no need the club ,jersey number columns also so we dropped it
df.drop(columns = ['Club','Jersey Number'],inplace = True)

#### 1. Skewness level verification

In [ ]:
for i in imp_col:
    if df[i].dtype in [int,float]:
        print('The skewness of',i,'is ',df[i].skew())

### 3. Distribution plots like KDE, Distribution plot, Box plot, etc.

In [ ]:
it = 1
for i in imp_col:
    if df[i].dtype in [int,float]:
        plt.figure(figsize=(10,8))
        plt.subplot(3,2,it)         
        sns.distplot(df[i])
        plt.grid()
        plt.title(i)
    
plt.tight_layout()
plt.show()

## box plot

In [ ]:
r = 3
c = 2
it = 1
for i in imp_col:
    if df[i].dtype in [int,float]:
        plt.figure(figsize=(10,8))
        plt.subplot(r,c,it)         
        sns.boxplot(df[i])
        plt.grid()
        plt.title(i)
    
plt.tight_layout()
plt.show()

In [ ]:
df.shape

In [ ]:
#now we are gonna make imputation on other columns.

num_col = df.select_dtypes(np.number).columns
num_col

In [ ]:
cat = df.select_dtypes(include = object).columns
cat

In [ ]:
#imputation for otther numerical columns

for i in num_col:
    if i not in imp_col:
        df[i].fillna(df[i].median(),inplace = True)

In [ ]:
#imputation for other categorical column

for i in cat:
    if i not in imp_col:
        df[i].fillna(df[i].mode()[0],inplace = True)

In [ ]:
df.isnull().sum()

#### 7. find out If there is any player above 2.0*IQR – Q1 and below 2.0*IQR + Q3. What would happen if the data has above or below the mentioned values and display the names of the players?

In [ ]:
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)

iqr = q3-q1

Ll = (2.0*iqr)-q1
Ul = (2.0*iqr)+q3

df[((df>Ll) | (df<Ul)).any(axis = 1)]

In [ ]:
#there are 13657 records are above  2.0IQR – Q1 and below 2.0IQR + Q3

#### 8. Check the Categorical variables and Find if there is any data imbalance in any column also find if any cardinality problem exists.

In [ ]:
# check for cardinality
for col in cat:
    print(f'{col} cardinality:')
    print(df[col].nunique())

In [ ]:
#the nationality has 160 unique values so i colud exists a cardinality problem

#### 9. Generate pair plots for the following variables: (Overall, Value, Wage, International Reputation, Height, Weight, Release Clause)

In [ ]:
col1 = df[['Overall','Value','Wage','International Reputation','Height','Weight','Release Clause']]
col1

In [ ]:
sns.pairplot(col1)
plt.show()

#### 10. Generate a table containing the top 20 players ranked by Overall score and whose contract expires in 2020.

In [ ]:
df_top20 = df[(df['Contract Valid Until']==2020)].sort_values(by = 'Overall',ascending = False).head(20)

In [ ]:
df_top20

### 1. What would the average wage for this set of players be?

In [ ]:
print('The average wages for this set of players is ',df_top20['Wage'].mean())

### 2. What is the average age?

In [ ]:
print('The average age for the players is ',df_top20['Age'].mean())

#### 3. Is there a correlation between the Overall rating and Value for these players? If Yes what kind of relationship that the features have, also explain why this kind of relationship could happen.

In [ ]:
df_top20['Overall'].corr(df_top20['Value'])

In [ ]:
#yes there is a strong positive correlation between the overall rating and the Value(it stands for current market value)

# because the current market value of an individual player is increasing if the overall rating is increases.

### 11. Generate tables containing the top 5 players by Overall rating for each unique position.

In [ ]:
top_5=pd.pivot_table(df,index=['Position','Name'],values=['Overall'])
top_5

In [ ]:
top_5 = top_5.sort_values(by = 'Overall',ascending = False).head(5)
top_5

### 1. Are there any players appearing at more than one table? Please point out such players.

In [ ]:
#for i in df_top20['Name']:
 #   for j in top_5.loc['Name']:
  #      if i == j:
   #         print(j)

In [ ]:
# the Player E.Hazard comes in two tables.

### 2. What is the average wage one can expect to pay for the top 5 in every position?

In [ ]:
df.groupby('Position')['Wage'].apply(lambda x: x.nlargest(5).mean())

# STATS

### 1. Test statistically whether the Left-hand player’s overall rating is higher than the Right-hand overall score. Alpha = 0.05 Before checking the test, Kindly make sure data is normally distributed.

In [ ]:
df['Preferred Foot'].value_counts()

In [ ]:
df_r = df[(df['Preferred Foot']=='Right')]['Overall']
df_l = df[(df['Preferred Foot']=='Left')]['Overall']

In [ ]:
#step1 :
#H0 : mu1-mu2 <= 0        #mu1 stands for df_1 (left foot player)
#H1 : mu1 -mu2 > 0        #mu2 stands for df_2 (right foot player)

In [ ]:
# step2:
stats.shapiro(df['Overall'])

In [ ]:
#since the p_value is less than the alpha so the data is not normal so we go for mannwhitneyu test.

In [ ]:
#step3
#test_statistic
alpha = 0.05
stat,p_value = stats.mannwhitneyu(x = df_l,y = df_r,alternative = 'greater')
print('The P_value is ',p_value)

In [ ]:
#step 4
'We Reject the Null Hypothesis H0' if p_value < alpha else 'We fail to Reject the Null Hypothesis H0'

In [ ]:
# that is the left footed players overall rating is higher than the right footed player overall rating

### 2. Does the age factor affect the player’s potential? Check the claim that the players who are greater than 35, their potential will be lesser than those whose age is less than 35. Alpha = 0.05

In [ ]:
df_a1 = df[(df['Age']>=35)]['Potential']
df_a2 = df[(df['Age']<35)]['Potential']

n1 = len(df_a1)                 #df_a1 players potential greater than 35
n2 = len(df_a2)                 #df_a2 stands fro players potentail less than 35

print('No of players potential greater than eqaul to age 35',n1)
print('No of players potential less than age 35',n2)

In [ ]:
##step1 :
#H0 : mu1-mu2 >= 0       
#H1 : mu1 -mu2 < 0

In [ ]:
## step 2
#checking for normality
stats.shapiro(df['Potential'])

In [ ]:
#p_value is lesseer than the alpha  so the data is not nornal

In [ ]:
alpha = 0.05
stat,p_value = stats.mannwhitneyu(x = df_a1,y = df_a2,alternative = 'less')
print('The P_value is ',p_value)

In [ ]:
#step 4
'We Reject the Null Hypothesis H0' if p_value < alpha else 'We fail to Reject the Null Hypothesis H0'

In [37]:
#that the players who are greater than 35, their potential will be lesser than those whose age is less than 35

### 3. Use the statistical test to check the relationship between the Preferred Foot and Position  with the 99% confident interval.

In [38]:
a = pd.crosstab(df['Preferred Foot'],df['Position'])
a

NameError: name 'df' is not defined

In [ ]:
#step1 :
#H0 : There is a relation between preferred foot and postion
#H0 : there is no relation between preferred foor and position

In [ ]:
#step2 :
#performing chi-square test.
chi2, p, dof, expected = stats.chi2_contingency(a)

In [ ]:
#step3
alpha = 0.01
critical_value = stats.chi2.ppf(1-alpha, dof)

# Print the results
print("Chi-squared test statistic:", chi2)
print("P-value:", p)
print("Degrees of freedom:", dof)
print("Expected frequencies:", expected)
print("Critical value:", critical_value)

In [ ]:
# step4:
if chi2 > critical_value:
    print("Reject the null hypothesis, there is a significant relationship between Preferred Foot and Position")
else:
    print("Fail to reject the null hypothesis, there is no significant relationship between Preferred Foot and Position")

### 4. Does the International Reputation cause a significant effect on players' Wages? Check the claim with a 0.04 significance level. Check the Normality of data before the actual test.

In [ ]:
df['International Reputation'].value_counts()

In [ ]:
#step 1
stats.shapiro(df['Wage'])               #p_value is greater less than alpha the data is not normal

In [ ]:
#step2 
#H0 : there is a significant effect on players Wage cause by Ineternational Reputation
#H1 : there is a no significant effect on players Wage cause by Ineternational Reputation

In [ ]:
a= df[(df['International Reputation']==1.0)]['Wage']
b= df[(df['International Reputation']==2.0)]['Wage']
c= df[(df['International Reputation']==3.0)]['Wage']
d= df[(df['International Reputation']==4.0)]['Wage']
e= df[(df['International Reputation']==5.0)]['Wage']

In [ ]:
#step3 
#test statistic

alpha = 0.04
stat,p_value = stats.f_oneway(a,b,c,d,e)
print('The test_statistic is',stat)
print('The p_value is',p_value)

In [ ]:

#step 4
'We Reject the Null Hypothesis H0' if p_value < alpha else 'We fail to Reject the Null Hypothesis H0'

In [ ]:
#therefore "there is a no significant effect on players Wage cause by Ineternational Reputation"

### 5. Check the claim that the median wages of under top 20 players are lesser than or equal to 25000. Test the claim with a 0.05 % significance level. Check the data is normally distributed or not before the testing the claim statistically.

In [ ]:
#step1
#H0 mu <= 25000
#H1 mu>25000

alpha = 0.05
mu = 25000
n = len(df_top20['Wage'])

In [ ]:
#step2 :
#checking the normality of the data 

stats.shapiro(df_top20['Wage'])

In [ ]:
#the p_value is greater than the alpha so the data is normal.

In [ ]:
#step 3:
stat,p_value = stats.ttest_1samp(a = df_top20['Wage'],popmean = 25000,alternative = 'greater')
print('The test_statistic is ',stat)
print('The p_value is ',p_value)

In [ ]:
#step 4
'We Reject the Null Hypothesis H0' if p_value < alpha else 'We fail to Reject the Null Hypothesis H0'